<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
   
    <title>@(ViewData["Title"] ?? "Project Tracking")</title>


    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link href="~/lib/bootstrap/dist/css/bootstrap-theme.css" rel="stylesheet" />
    <link href="~/css/bs4.min.css" rel="stylesheet" />
    <link href="~/css/core.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.min.css" />
    @*<link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">*@
    @*<script src="~/lib/signalr/signalr.js"></script>*@
    @*<link href="~/lib/font-awesome/css/all.min.css" rel="stylesheet" />*@
    @*<link href="~/css/Notifications.min.css" rel="stylesheet" />*@

    @*<script src="~/lib/font-awesome/js/all.min.js"></script>*@
<script src="~/lib/font-awesome/registered/c02d468215.js"></script>


    @RenderSection("Styles", required: false)

</head>

<body class=" @(User.Identity.IsAuthenticated ? "":"is-logon" )">
   
    @*<nav class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="sr-only">Toggle navigation</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a asp-area="" asp-controller="Home" asp-action="Index" class="navbar-brand">3T System</a>
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        <li><a asp-area="" asp-controller="Home" asp-action="Index">Home</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="About">About</a></li>
                        <li><a asp-area="" asp-controller="Home" asp-action="Contact">Contact</a></li>
                    </ul>
                    <partial name="_LoginPartial" />
                </div>
            </div>
        </nav>*@

    <div class="body-container ">

        @RenderBody()

    </div>


    <script src="~/lib/jquery/dist/jquery.js"></script>

    <script src="~/lib/bootbox-5.3.2/bootbox.min.js"></script>

    <!-- development version, includes helpful console warnings -->
    <script src="~/lib/vuejs/vue-dev.js"></script>
    <!-- production version, optimized for size and speed -->
    @*<script src="~/lib/vuejs/vue-prod.js"></script>*@

    <script src="~/lib/bootstrap/dist/js/bootstrap.js"></script>

    <link href="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.css" rel="stylesheet" />
    <script src="~/lib/bootstrap-datetimepicker/moment-with-locales.js"></script>
    <script src="~/lib/bootstrap-datetimepicker/bootstrap-datetimepicker.min.js"></script>
    <script src="~/lib/vue-bootstrap-datetimepicker/vue-bootstrap-datetimepicker.min.js"></script>

    <script src="~/js/site-variables.js" asp-append-version="true"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>

    <script src="~/lib/axios/axios.js"></script>

    @RenderSection("Scripts", required: false)

</body>

</html>
