@using ProjectTracking.DataContract
@using ProjectTracking.Data.Methods.Interfaces

@{
    ViewData["Title"] = "Project Tracking";

    Project project = (Project)ViewData["Project"];
    List<TimeSheetActivity> activities = (List<TimeSheetActivity>)ViewData["Activities"];

    int projectId = (int)ViewData["ProjectId"];

    List<KeyValuePair<string, string>> insights = (List<KeyValuePair<string, string>>)ViewData["Insights"];
}

<div id="ProjectTrack" class="main-container">


    <h2>Project "@(project.Title)"</h2>

    <form>

        <input type="hidden" name="projectId" value="@projectId" />


        <div class="d-flex-controls">

            <select class="form-control w-100-px" name="year" v-model="year" v-on:change="onFilterChange($event)">
                <option :value="null">- (Year)</option>
                <option v-if="dateFilterOptions" v-for="item in dateFilterOptions.years" :value="item">{{item}}</option>
            </select>

            <select class="form-control w-100-px" name="month" v-model="month" v-on:change="onFilterChange($event)">
                <option :value="null">- (Month)</option>
                <option v-if="dateFilterOptions" v-for="item in dateFilterOptions.months" :value="item">{{item}}</option>
            </select>

            <select class="form-control w-100-px" name="day" v-model="day">
                <option :value="null">- (Day)</option>
                <option v-if="dateFilterOptions" v-for="item in dateFilterOptions.days" :value="item">{{item}}</option>
            </select>

            <div class="d-flex-controls__buttons">
                <button class="Button-Shared mx-3" type="submit"> <i class="glyphicon glyphicon-filter"></i> Filter</button>
            </div>

            <div>
                <span v-show="isLoading">Loading...</span>
            </div>
        </div>

    </form>

    <div class="dashboard-insights">
        @foreach (var item in insights)
        {
            <partial name="~/views/shared/dashboardinsight.cshtml" model="item" />
        }
    </div>

    <table class="table">
        <tr>
            <th>From</th>
            <th>To</th>
            <th>Total</th>
            <th>Message</th>
            <th>

            </th>
        </tr>

        @foreach (TimeSheetActivity item in activities)
        {
            <tr>
                <td>@item.FromDateDisplay</td>
                <td>@(item.ToDate.HasValue ? item.ToDateDisplay : "In Progress")</td>
                <td>@item.TagDisplayHours</td>
                <td>@item.Comment</td>
                <td>
                    <a href="/timesheets/TimeSheetActivityLog?activityId=@item.ID" class="Button-Shared Button-Small">Log</a>
                </td>
            </tr>
        }

    </table>

</div>


@section styles{

    <link href="~/css/Dashboard.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="~/js/ProjectTracking.js"></script>

}
