@using ProjectTracking.DataContract
@model ProjectTask
@{
    ViewData["Title"] = $"Task - {Model.Title}";

    bool isProjectSupervisor = (bool)ViewData["IsProjectSupervisor"];
}


<div id="ProjectTask" class="v-container" data-task="@Model.ID"
     data-is-project-supervisor="@isProjectSupervisor"
     v-cloak>

    <section class="top-intro">

        <h2>@Model.Title.ToUpper()</h2>
        <h4>@Model.Description</h4>

        <table class="table table-borderless">
            <tr>
                <th>Status</th>
                <th>Status By</th>
                <th>Modified On</th>
                <th>Project</th>
                <th>Added on</th>
                <th>Start Date</th>
                <th>Planned End Date</th>
                <th>Actual End Date</th>
            </tr>
            <tr>
                <td>@Model.StatusDisplay</td>
                <td><a href="/profile/@Model.StatusByUserId"> @Model.StatusByUserName</a></td>
                <td>@Model.LastModifiedDateDisplay</td>
                <td><a href="/projects/@Model.ProjectId"> @Model.ProjectTitle</a></td>
                <td>@Model.DateAddedDisplay</td>
                <td>@Model.StartDateDisplay</td>
                <td>@Model.PlannedEndDisplay</td>
                <td>@Model.ActualEndDisplay</td>
            </tr>
        </table>
    </section>

    <section>
        <partial name="~/views/ProjectTasks/Overview/TaskOverview.cshtml" />
    </section>

</div>


@section styles{
    <link href="~/css/ProjectTask.min.css" rel="stylesheet" />
}

@section scripts{

    <script src="~/services/ProjectTasksService.js"></script>

    <script src="~/lib/chartjs-2.7.1/Chart.min.js"></script>
    <script src="~/js/statistics/ChartHelper.js"></script>

    <script src="~/js/ProjectTaskDetails.js"></script>
}
