@using ProjectTracking.DataContract
@model Project
@{
    ViewData["Title"] = $"Project - {Model.Title}";

    bool isProjectSupervisor = (bool)ViewData["IsProjectSupervisor"];
}

<div id="ProjectTasks" class="v-container"
     data-project="@Model.ID"
     data-is-project-supervisor="@isProjectSupervisor"
     v-cloak>

    <section class="top-intro">

        <h2>@Model.Title.ToUpper()</h2>
        <h4>@Model.Description</h4>

        <table class="table table-borderless">
            <tr>
                <th>Status</th>
                <th>Modified On</th>
                <th>Category</th>
                <th>Added on</th>
                <th>Start Date</th>
                <th>Planned End Date</th>
                <th>Actual End Date</th>
            </tr>
            <tr>
                <td>@Model.StatusDisplay</td>
                <td>@Model.LastModifiedDateDisplay</td>
                <td>@Model.Category.Name</td>
                <td>@Model.DateAddedDisplay</td>
                <td>@Model.StartDateDisplay</td>
                <td>@Model.PlannedEndDisplay</td>
                <td>@Model.ActualEndDisplay</td>
            </tr>
        </table>

    </section>

    <h5 class="text-danger" v-if="errors">{{errors}}</h5>

    <ul class="nav nav-tabs">
        <li class="active"><a data-toggle="tab" href="#OverviewTab"> <i class="far fa-chart-bar"></i> Overview</a></li>
        <li ><a data-toggle="tab" href="#TasksTab"><i class="fa fa-tasks"></i> Tasks</a></li>
        <li onclick="handleGanntTabClick()"><a data-toggle="tab" href="#GanttTab"> <i class="fa fa-stream"></i> Tasks Stream</a></li>
    </ul>

    <div class="tab-content">

        <div id="OverviewTab" class="tab-pane fade in active">

            <partial name="~/views/ProjectTasks/Overview/ProjectOverview.cshtml" />

        </div>

        <div id="TasksTab" class="tab-pane fade">

            <div class="v-container">

                <partial name="~/views/ProjectTasks/forms/ProjectTasksResult.cshtml" />

                <partial name="~/views/ProjectTasks/forms/TaskStatusModifications.cshtml" />

            </div>

        </div>

        <div id="GanttTab" class="tab-pane fade">
            <partial name="~/views/ProjectTasks/Charts/GanttChart.cshtml" />
        </div>

    </div>

    <partial name="~/views/ProjectTasks/forms/ProjectTaskform.cshtml" />

</div>


@section styles {
    <link href="~/css/ProjectTasks.min.css?v=1" rel="stylesheet" />
}

@section scripts{

    @* Plugins *@
    @*<script src="https://unpkg.com/vuejs-paginate@latest"></script>*@
    @*<script src="~/lib/vuejs-paginate-2.1.0/vuejs-paginate.js"></script>*@

    @* Services *@
    <script src="~/services/ProjectsService.js"></script>
    <script src="~/services/ProjectTasksService.js"></script>

    @*<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>*@

    @*<script src="~/lib/frappe-gantt/frappe-gantt.min.js"></script>
        <link href="~/lib/frappe-gantt/frappe-gantt.css" rel="stylesheet" />*@

    <script src="~/lib/jscharting/jscharting.js"></script>

    <script src="~/lib/chartjs-2.7.1/Chart.min.js"></script>
    <script src="~/js/statistics/ChartHelper.js"></script>

    <script src="~/js/projectTasks.js?v=1"></script>
}
