
@using ProjectTracking.DataContract
@{
    ViewData["Title"] = "Profile";
}
@model User

<input type="hidden" value="@Model.Id" name="userId" />
<input type="hidden" value="@Model.Department?.ID" name="departmentId" />
<input type="hidden" value="@((User.IsInRole("Manager")||User.IsInRole("Admin")).ToString())" id="isInAdministration" />


<div id="UserProfile" class="main-container" v-cloak>

    <h2>Profile</h2>

    <div class="profile-header">
        <table class="table" border="0">
            <tr>
                <td>Name</td>
                <td>@Model.FullName</td>
                <td>Department</td>
                <td>@Model.Department?.Name</td>
            </tr>
            <tr>
                <td>Email</td>
                <td>@Model.Email</td>
                <td>Company</td>
                <td>@Model.Company?.Name</td>
            </tr>
            <tr>
                <td>D.O.B</td>
                <td>@Model.DateOfBirth.ToShortDateString()</td>
                <td></td>
                <td></td>
            </tr>

        </table>
    </div>

    <div class="profile-content mt-5">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#TimeSheets">Time Sheets</a></li>
            @*
                <li><a data-toggle="tab" href="#RequestedPermissions">Requested Permissions</a></li>*@
            <li><a data-toggle="tab" href="#Supervising">Supervising</a></li>
            <li><a data-toggle="tab" href="#Supervisor">Supervisors</a></li>
            <li><a data-toggle="tab" href="#Roles">Roles</a></li>

        </ul>

        <div class="tab-content ">

            <div id="TimeSheets" class="tab-pane fade in active">
                <div>
                    <button type="button" v-show="isCurrentUser"
                            class="btn Button-Shared mb-4"
                            data-toggle="modal" data-target="#AddTymeSheetModal">
                        Add TimeSheet
                    </button>
                    <a asp-controller="Projects"
                       asp-action="ProjectsProgress"
                       asp-route-userId="@Model.Id"
                       class="btn Button-Shared mb-4">
                        Projects Progress
                    </a>
                    <a class="btn Button-Shared mb-4" target="_blank" href="/pendingrequests/statistics/@Model.Id">Permissions Tracking</a>

                    <a class="btn Button-Shared mb-4"
                       target="_blank"  v-show="isInAdministration"
                       href="/userinsights?userId=@Model.Id">Active Hours Insights</a>
                </div>

                <p v-if="timeSheetsLoading">Loading...</p>
                <p v-if="!timeSheetsLoading && !timeSheets.length">No Time Sheets Records</p>

                <div v-show="!timeSheetsLoading && timeSheets.length > 0">

                <div class="d-flex mb-2" >
                    <select v-model="selectedTimeSheetYear" class="form-control " style="width:200px">
                        <option v-for="timeSheetYear in timeSheetYears" :value="timeSheetYear">{{timeSheetYear}}</option>
                    </select>
                    <button class="mx-5 Button-Shared" v-on:click="filterTimeSheets">Filter</button>
                </div>
                </div>

                <div v-show="!timeSheetsLoading">

                    <table class="table table-striped" v-show="timeSheets.length">

                        <tr>
                            <th>From Date</th>
                            <th>To Date</th>
                            <th></th>
                            <th></th>
                        </tr>

                        <tr v-for="(timeSheet,idx) in timeSheets">
                            <td>{{timeSheet.fromDateDisplay}}</td>
                            <td>{{timeSheet.toDateDisplay}}</td>
                            <td>{{timeSheet.isSigned ? 'Signed' : ''}}</td>
                            <td>
                                <div class="btn-group">
                                    <button type="button" class="btn btn-sm btn-default" v-on:click="openTimeSheetProjectsModal(timeSheet)">Projects</button>
                                    <button type="button"
                                            class="btn btn-sm btn-default"
                                            v-on:click="setTimeSheetStatuses(timeSheet.id)"
                                            data-toggle="modal"
                                            data-target="#TimeSheetsStatusesModal">
                                        Statuses
                                    </button>
                                    <a class="btn btn-sm btn-default" v-bind:href="`/timesheets?id=${timeSheet.id}`">Time Sheet</a>
                                    <button v-show="!timeSheet.isSigned" type="button"
                                            v-if="userId && currentUserId && (userId=== currentUserId)"
                                            class="btn btn-sm btn-secondary"
                                            v-on:click="openSignTimeSheetModal(idx)">
                                        Sign
                                    </button>
                                    <button v-show="!timeSheet.isSigned" type="button"
                                            v-if="userId && currentUserId && (userId=== currentUserId)"
                                            class="btn btn-sm btn-danger"
                                            v-on:click="openDeleteTimeSheetModal(idx)">
                                        Delete
                                    </button>
                                </div>
                            </td>
                        </tr>

                    </table>

                </div>

            </div>

            <div id="RequestedPermissions" class="tab-pane fade">
            </div>

            <div id="Supervising" class="tab-pane fade">
                <div class="multi-group-section">
                    <div class="left-group" v-show="isInAdministration">
                        <div class="section-item">
                            <span>Not supervisor over</span>
                            <sub-users v-bind:ismanager="isInAdministration" v-bind:users="notSuperVised"></sub-users>
                        </div>
                    </div>
                    <div class="middle-group py-5">
                        <div class="btn-group-vertical" v-show="isInAdministration">
                            <button :disabled="!notSupervisingUsersChecked" v-on:click="assignAsSuperving" class="btn btn-sm btn-default">>></button>
                            <button :disabled="!supervisingUsersChecked" v-on:click="RemoveSuperVised" class="btn btn-sm Button-Shared"><<</button>
                        </div>
                    </div>
                    <div class="right-group">
                        <div class="section-item">
                            <span>supervisor over</span>
                            <sub-users v-bind:users="superVised" v-bind:ismanager="isInAdministration"></sub-users>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Supervisor" class="tab-pane fade">
                <div class="multi-group-section">
                    <div class="left-group" v-show="isInAdministration">
                        <div class="section-item">
                            <span>Not supervised by</span>
                            <sub-users v-bind:ismanager="isInAdministration" v-bind:users="notSuperVisors"></sub-users>
                        </div>
                    </div>
                    <div class="middle-group py-5">
                        <div class="btn-group-vertical" v-show="isInAdministration">
                            <button :disabled="!notSupervisorUsersChecked" v-on:click="assignAsSupervors" class="btn btn-sm btn-default">>></button>
                            <button :disabled="!supervisorUsersChecked" v-on:click="RemoveSuperVisors" class="btn btn-sm Button-Shared"><<</button>
                        </div>
                    </div>
                    <div class="right-group">
                        <div class="section-item">
                            <span>Supervised by </span>
                            <sub-users v-bind:users="superVisors" v-bind:ismanager="isInAdministration"></sub-users>
                        </div>
                    </div>
                </div>
            </div>

            <div id="Roles" class="tab-pane fade">
                <div class="multi-group-section">
                    <div class="left-group" v-show="isInAdministration">
                        <div class="section-item">
                            <span>Not Assigned Roles</span>
                            <roles-Management v-bind:ismanager="isInAdministration" v-bind:roles="rolesNotAssigned"></roles-Management>
                        </div>
                    </div>
                    <div class="middle-group py-5">
                        <div class="btn-group-vertical" v-show="isInAdministration">
                            <button :disabled="!rolesNotAssignedChecked" v-on:click="assignRoles" class="btn btn-sm btn-default">>></button>
                            <button :disabled="!rolesAssignedChecked" v-on:click="RemoveRoles" class="btn btn-sm Button-Shared"><<</button>
                        </div>
                    </div>
                    <div class="right-group">
                        <div class="section-item">
                            <span>Assigned Roles </span>
                            <roles-Management v-bind:roles="rolesAssigned" v-bind:ismanager="isInAdministration"></roles-Management>
                        </div>
                    </div>
                </div>
            </div>

        </div>

    </div>

    <!-- Modal -->
    <div class="modal fade" id="AddTymeSheetModal" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Add Time Sheet</h4>
                </div>
                <div class="modal-body">
                    <div class="modal-buttons">
                        <button class="Button-Shared Button-Small" type="button" v-on:click="changeDate(date)" v-for="(date,idx) in timesheetModel.dateList">{{nextDateDisplay(date)}}</button>
                    </div>
                    <div class="modal-control">
                        <label>From Date</label>
                        <date-picker v-model="timesheetModel.fromDate" :config="dateOptions"></date-picker>
                    </div>

                    <div class="modal-control">
                        <label>To Date</label>
                        <date-picker v-model="timesheetModel.toDate" :config="dateOptions"></date-picker>
                    </div>
                    <div class="text-danger my-3">
                        {{timesheetModel.timeSheetError}}
                    </div>
                </div>

                <div class="modal-footer">
                    <button type="button" v-on:click="addTimeSheet" class="btn Button-Shared">Add</button>

                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>

                </div>
            </div>

        </div>
    </div>


    <!-- Modal -->
    <div id="timeSheetProjectsModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">{{timeSheetProjects.title}} Projects</h4>
                </div>

                <div class="modal-body">
                    <p class="text-danger" v-show="timeSheetProjects.isFailed">Something went wrong, check your internet connection</p>
                    <p class="text-info" v-show="timeSheetProjects.isLoading">Loading...</p>
                    <div class="multi-group-section">
                        <div class="left-group">
                            <div class="group-container">

                                <div class="group-header">
                                    @*<h4>Available Projects</h4>*@
                                    <input type="text"  autocomplete="off" class="form-control" placeholder="Search Available Projects" v-model="availableProjectsSearchKey" />
                                </div>

                                <projects v-bind:records="timeSheetProjects.availableProjects"></projects>

                            </div>
                        </div>

                        <div class="middle-group">


                            <div class="btn-group-vertical">
                                <button :disabled="!availableProjectsChecked || assignProjectsLoading"
                                        v-on:click="assignProjects"
                                        class="btn btn-sm btn-default">

                                    <span v-show="!assignProjectsLoading">>></span>
                                    <span v-show="assignProjectsLoading">...</span>
                                </button>
                                <button :disabled="!assignedProjectsChecked || assignProjectsLoading"
                                        v-on:click="removeProjects"
                                        class="btn btn-sm Button-Shared">

                                    <span v-show="!assignProjectsLoading"><<</span>
                                    <span v-show="assignProjectsLoading">...</span>
                                </button>
                            </div>
                        </div>

                        <div class="right-group">
                            <div class="group-container">

                                <div class="group-header">
                                    @*<h4>Assign Projects</h4>*@
                                    <input type="text" class="form-control" placeholder="Search Assigned Projects" autocomplete="off" v-model="assignedProjectsSearchKey" />
                                </div>

                                <projects v-bind:records="timeSheetProjects.assignedProjects"></projects>
                            </div>
                        </div>
                    </div>

                </div>

                <div class="modal-footer">
                    <div class="flex-right-left">
                        <div class="left-side text-bold">
                            <p class="disabled-project-info">locked assigned project is active and not removable</p>
                        </div>
                        <div class="right-side small-date">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        </div>
                    </div>

                </div>

            </div>

        </div>
    </div>

    <div id="DeleteTimeSheetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Delete TimeSheet</h4>
                </div>

                <div class="modal-body">

                    <label>Enter Your Password</label>
                    <input autocomplete="off" type="password" class="form-control" v-model="timesheetDeleteModal.password" />
                    <hr />
                    <p v-show="timesheetDeleteModal.isDeleting">Deleting...</p>
                    <p v-show="!timesheetDeleteModal.isDeleting">{{timesheetDeleteModal.message}}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-danger" v-on:click="deleteTimeSheet">Delete</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>

    <div id="SignTimeSheetModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Sign TimeSheet</h4>
                </div>

                <div class="modal-body">

                    <label>Enter Your Password</label>
                    <input autocomplete="off" type="password" class="form-control" v-model="timesheetSignModal.password" />
                    <hr />
                    <p v-show="timesheetSignModal.isSigning">Signing...</p>
                    <p v-show="!timesheetSignModal.isSigning">{{timesheetSignModal.message}}</p>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-audit" v-on:click="signTimeSheet">Sign</button>
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>

            </div>

        </div>
    </div>

    <div id="TimeSheetsStatusesModal" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <!-- Modal content-->
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">TimeSheet Statuses</h4>
                </div>
                <div class="modal-body">
                    <table class="table">
                        <thead>
                            <tr>
                                <td>SuperVisor Name</td>
                                <td>Status</td>
                                <td>Comment</td>
                            </tr>
                        </thead>
                        <tbody>
                            <tr v-for="requestStatus in timeSheetStatuses">
                                <td>
                                    {{requestStatus.superviser.fullName}}
                                </td>
                                <td>
                                    {{requestStatus.sheetStatus}}
                                </td>
                                <td>
                                    {{requestStatus.comments}}
                                </td>

                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                </div>
            </div>

        </div>
    </div>

</div>


@section styles{
    <link href="~/css/user-profile.min.css" rel="stylesheet" />
}

@section scripts{
    <script src="https://cdn.jsdelivr.net/npm/vue-bootstrap-datetimepicker@5"></script>
    <script src="~/services/UserProfileService.js"></script>
    <script src="~/services/TimeSheetsService.js"></script>
    <script src="~/js/UserProfile.js"></script>
}