@using Microsoft.AspNetCore.Identity
@{
    string errorMessage = ViewBag.ErrorMessage;
    string message = ViewData["Message"]?.ToString();

    //List<IdentityRole<string>> roles = (List<IdentityRole<string>>)ViewData["Roles"];

    //bool s = false;
}

@{
    Layout = "~/Views/Shared/_LogonLayout.cshtml";
    ViewData["Title"] = "Project Tracking - Login";
}


@model LoginViewModel

<div id="LoginContainer" class="MiddleBoxContainerTemplate">

    @using (Html.BeginForm("Login", "Home", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post))
    {
        @Html.AntiForgeryToken()

        <div class="MiddleBox">

            <h3>Login</h3>

            <div class="MiddleBoxContent">

                <label>Email</label>
                @Html.TextBoxFor(m => m.UserName)

                <label>Password</label>
                @Html.Password("Password")

                @*<label>Role</label>
                    @Html.DropDownListFor(m => m.Role, roles.Select(k => new SelectListItem(k.Name, k.Id)).ToList())*@

                <div>
                    @Html.CheckBoxFor(m => m.RememberMe)
                    <label>Remember Me</label>
                </div>

                <p class=" MiddleLinks LinksSection">

                    <a href="/Identity/Account/ForgotPassword" id="ForgotPassword">Forgot Password?</a>
                </p>

                <button class="s-btn s-btn-md s-btn-primary s-btn-block mb-3" type="submit">Sign In</button>
                <a href="~/identity/account/register"
                   class="s-btn s-btn-md s-btn-block s-btn-outline">Register</a>

                <div>
                    @if (!string.IsNullOrEmpty(message))
                    {
                        <p>@message</p>
                    }
                    <p>@ViewData["ErrorMessage"]</p>

                    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

                </div>

                @*<p class="BottomLinks LinksSection">

                    </p>*@

            </div>
        </div>
    }
</div>




@section Styles {
    <link href="/css/login.min.css" rel="stylesheet" />
}

