@using ProjectTracking.Data.Methods.Interfaces
@using Microsoft.AspNetCore.Identity
@using ProjectTracking.Models.Admin
@using ProjectTracking.DataContract

@model AddUserViewModel
@inject IDepartments departmentDtos
@*@inject ICompanies CompanyDtos*@
@inject RoleManager<IdentityRole> roles
@{
    string successFeedback = ViewData["success"] != null ? ViewData["success"].ToString() : "";
}

<div class="px-5" id="CrudUsers">
    <h2>Create a new user</h2>
    <form asp-controller="Admin" asp-action="AddUser" method="post" class="form-horizontal" role="form">
        <h4>Enter the user details below</h4>
        <hr />
        @*<div asp-validation-summary="All" class="text-danger"></div>*@

        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="FirstName" class="col-md-2">First Name</label>
                <div class="col-md-10">
                    <input asp-for="FirstName" class="form-control" />
                    <span asp-validation-for="FirstName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="MiddleName" class="col-md-2">Middle Name</label>
                <div class="col-md-10">
                    <input asp-for="MiddleName" class="form-control" />
                    <span asp-validation-for="MiddleName" class="text-danger"></span>
                </div>
            </div>

        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="LastName" class="col-md-2">Last Name</label>
                <div class="col-md-10">
                    <input asp-for="LastName" class="form-control" />
                    <span asp-validation-for="LastName" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="DateOfBirth" class="col-md-2">Date Of Birth</label>
                <div class="col-md-10">
                    <input asp-for="DateOfBirth" class="form-control datetimepicker" />
                    <span asp-validation-for="DateOfBirth" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="Email" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Email" class="form-control" />
                    <span asp-validation-for="Email" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6 ">
                <label class="col-md-2">Role</label>
                <div class="col-md-10">
                    <select asp-for="Role" class="form-control"
                            asp-items="@roles.Roles.Select(k=>new SelectListItem(k.Name,k.Name)).ToList()"></select>
                </div>
            </div>


        </div>
        <div class="row">

            <div class="form-group col-md-6">
                <label asp-for="Password" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="Password" class="form-control" />
                    <span asp-validation-for="Password" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="ConfirmPassword" class="col-md-2"></label>
                <div class="col-md-10">
                    <input asp-for="ConfirmPassword" class="form-control" />
                    <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="form-group col-md-6">
                <label class="col-md-2">Department</label>
                <div class="col-md-10">
                    <select class="form-control" asp-for="DepartmentID">
                        @foreach (var dept in departmentDtos.GetAll())
                        {
                            <option value="@dept.ID">@dept.Name</option>
                        }
                    </select>
                </div>
            </div>
            <div class="form-group col-md-6">
                @*<label class="col-md-2">Company</label>

                <div class="col-md-10">

                    <select class="form-control" asp-for="CompanyID">
                        @foreach (var comp in CompanyDtos.GetAll())
                        {
                            <option value="@comp.ID">@comp.Name</option>
                        }
                    </select>
                </div>*@
            </div>
        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="AgreementType" class="col-md-2"> Agreement Type</label>
                <div class="col-md-10">
                    <select class="form-control " id="EmployementTypeSelect" asp-for="AgreementType" asp-items="Html.GetEnumSelectList<EmploymentType>()"></select>
                    <span asp-validation-for="AgreementType" class="text-danger"></span>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label asp-for="HoursPerDay" class="col-md-2">Hours Per Day</label>
                <div class="col-md-10">
                    <input type="hidden" value="8.5" id="HoursPerDayHidden" />
                    <input asp-for="HoursPerDay" v-model="nbOfHoursPerDay" class="form-control " id="HoursPerDayInput" step=any type="number" />
                    <span asp-validation-for="HoursPerDay" class="text-danger"></span>
                </div>
            </div>


        </div>
        <div class="row">
            <div class="form-group col-md-6">
                <label asp-for="MonthlySalary" class="col-md-2">Monthly Salary</label>
                <div class="col-md-10">

                    <input type="number" step=any v-model="monthlySalary" asp-for="MonthlySalary" class="form-control" />
                    <span asp-validation-for="MonthlySalary" class="text-danger"></span>
                </div>
            </div>

            <div class="form-group col-md-6">
                <label asp-for="HourlyRate" class="col-md-2">Hourly Rate</label>
                <div class="col-md-10">
                    <input type="number" disabled step=any v-model="hourlyRate" asp-for="HourlyRate" class="form-control" />
                    <span asp-validation-for="HourlyRate" class="text-danger"></span>
                </div>
            </div>
        </div>
        <div asp-validation-summary="ModelOnly" class="text-danger mt-5"></div>
        <div class="text-success mt-5">@successFeedback</div>
        <div class="row my-5">
            <div class="col-md-offset-10 ">
                <button content="Create user" class="btn Button-Shared  ">Add User</button>
            </div>
        </div>
    </form>
    <div class="my-3">
        <a href="usermanagement" class="btn Button-Shared  ">Add Companies / Departments </a>
        <a asp-controller="Employees" asp-action="index" class="btn Button-Shared ">All Employees </a>



    </div>
</div>
@section Scripts{
    <script src="~/js/UserControl.js"></script>
}