@using ProjectTracking.DataContract
@using ProjectTracking.Data.Methods.Interfaces

@{
    ViewData["Title"] = "TimeSheet Activity Log";
    int activityId = (int)ViewData["ActivityId"];


    List<TimeSheetActivityLog> logs = new List<TimeSheetActivityLog>();

    ProjectTracking.DataContract.TimeSheetActivity activity = activitiesMethods.Get(activityId);
    ProjectTracking.DataContract.User user = null;
    ProjectTracking.DataContract.ProjectTask projectTask = null;

    if (activity != null)
    {
        user = activitiesMethods.GetActivityUser(activityId);
        projectTask = activitiesMethods.GetActivityProjectTask(activityId);
        logs = logsMethods.GetByActivity(activityId);
    }


}


@inject ITimeSheetActivityLogsMethods logsMethods
@inject ITimeSheetActivitiesMethods activitiesMethods

@if (activity == null)
{
    <h2>Activity Not Found</h2>
}
else
{

    <div class="main-container">

        <h3>Activity log for "@activity.Message" for Task "@projectTask.Title" in Project "@(projectTask.Project == null ? "-" : projectTask.Project.Title)" </h3>
        <hr />
        <p>
            <i class="fa fa-user"></i>&nbsp;
            By User
        </p>
        <table class="table table-gray-header  ">
            <tr>
                <th>Name</th>
                <th>Email</th>
                <th>Team</th>
                <th></th>
            </tr>
            <tr>
                <td>@user.FullName</td>
                <td>@user.Email</td>
                <td>@user.TeamDisplay</td>
                <td>
                    <a  href="/profile/@user.Id" class="s-btn s-btn-sm s-btn-primary">Profile <i class="fa fa-angle-right"></i> </a>
                </td>
            </tr>
        </table>

        <p>
            <i class="fa fa-paperclip"></i>&nbsp;
            Latest Activity
        </p>
        <table class="table table-gray-header ">
            <tr>
                <th>From</th>
                <th>To</th>
                <th>Message</th>
                <th>Location</th>
            </tr>
            <tr>
                <td>@activity.FromDateDisplay</td>
                <td>@activity.ToDateDisplay</td>
                <td>@activity.Message</td>
                <td>@(activity.IpAddressDisplay)</td>
            </tr>
        </table>

        <p>
            <i class="fa fa-history"></i>&nbsp;
            Activity Logs
        </p>
        @if (logs.Count == 0)
        {
            <p>No logs recorded for this activity</p>
        }
        else
        {
            <table class="table table-gray-header ">
                <tr>
                    <th>From</th>
                    <th>To</th>
                    <th>Message</th>
                    <th>Address</th>
                </tr>
                @foreach (var item in logs)
                {
                    <tr>
                        <td>@item.FromDateDisplay</td>
                        <td>@item.ToDateDisplay</td>
                        <td>@item.Message</td>
                        <td>@(item.IpAddressDisplay)</td>
                    </tr>
                }
            </table>
        }

    </div>
}