@model ProjectTracking.Models.TimeSheet.TimeSheetExploreModel

@{
    ViewData["Title"] = "Schedules";

    string timesheetId = Model.TimeSheetId.HasValue ? Model.TimeSheetId.ToString() : "";
}


<div id="UserTimeSheets"
     data-user="@Model.UserId"
     data-timesheet="@timesheetId"
     data-active-role="@Model.CurrentUserRole"
     data-active-user="@Model.CurrentUserId"
     data-active-supervisor="@Model.CurrentUserIsSupervisor" class="v-container" v-bind:class="{'is-readonly':readOnly}" v-cloak>

    <h3 v-show="timesheetsAreLoading">Loading...</h3>
    <h3 v-show="!timesheetsAreLoading && !timesheets.length">Nothing Here Yet! <i class="far fa-smile-beam"></i> </h3>

    <div class="user-timesheets" v-show="timesheets.length">

        <select v-on:change="handleTimeSheetChange" class="form-control w-200-px" v-model="selectedTimeSheetId">
            <option :value="oNull">- Select a Schedule - </option>
            <option v-for="timesheet in timesheets" :value="timesheet.id"> {{timesheet.fromDateDisplay}} - {{timesheet.toDateDisplay}}</option>
        </select>

        @*
            <ul class="list-group">
                <li v-for="timesheet in timesheets" class="list-group-item" v-on:click="openTimeSheet(timesheet)" v-bind:class="{'active-tab': (activeTimeSheet !== null && activeTimeSheet.id === timesheet.id) }">
                    {{timesheet.fromDateDisplay}} - {{timesheet.toDateDisplay}}
                </li>
            </ul>
        *@
    </div>

    <div class="user-timesheets-content">

        @*<h4 v-show="activeTimeSheetDisplay">{{activeTimeSheetDisplay}}</h4>*@

        <div class="user-timesheets-content-container">

            <div class="user-timesheets-content__days" v-if="activeTimeSheetLoading">
                <ul class="list-group">
                    <li v-for="i in [,,,,,,,,,,,,,]"
                        class="list-group-item list-group-item--loading">
                        <span></span>
                    </li>
                </ul>
            </div>

            <div class="user-timesheets-content__days" v-if="!activeTimeSheetLoading && activeTimeSheet">
                <ul class="list-group" v-if="activeTimeSheet && activeTimeSheet.datesList && activeTimeSheet.datesList.length">
                    <li v-for="(dateDisplay, idx) in activeTimeSheet && activeTimeSheet.datesList"
                        v-on:click="openTimeSheetDate(idx)"
                        v-bind:class="{'is-current-day': activeDateIndexIsCurrentDay  === idx,'active-tab':activeDateIdx === idx}"
                        class="list-group-item">
                        {{dateDisplay.display}}
                    </li>
                    <li v-on:click="openTimeSheetDate(-1)"
                        v-bind:class="{'active-tab':activeDateIdx === -1}"
                        class="list-group-item">
                        View All
                    </li>
                </ul>
            </div>

            <div v-if="activeTimeSheet" class="user-timesheets-content__projects">

                <p v-show="filteredProjectsLoading">Loading...</p>
                <h4>{{activeDate ? activeDate.format('LL') : ''}} {{activeDateIndexIsCurrentDay !== -1 && activeDateIndexIsCurrentDay === activeDateIdx ? '(Today)' : ''}} </h4>

                <div class="tasks-filter-container">
                    <span :class="taskStatusClass(status)"
                          @@click="taskFilter(status.key)"
                          :title="status.title || status.name"
                          v-for="status in tasksFilter.statuses">
                        <i :class="status.icon"></i>
                        <span class="filter-label" v-if="tasksFilter.selectedStatusKey === status.key">{{status.name}} ({{filteredTimeSheetProjectsTasksCount}})</span>
                    </span>
                </div>

                <div class="assigned-tasks-container">



                    <h5 v-show="!filteredTimeSheetProjects.length">Nothing Here!</h5>

                    <div class="assigned-tasks" v-for="(project, idx) in filteredTimeSheetProjects">

                        <h5>{{project.title}}</h5>

                        <div class="assigned-task" :class="{'active':(selectedTask ? selectedTask.id === task.id :false)}" v-for="(task,taskIdx) in project.tasks"
                             @@click="openTaskActivities(task)">
                            <i v-if="tasksFilter.selectedStatusKey === null" :class="getTaskStatusIcon(task)"></i> {{task.title}} <span class="active-task-flag" v-if="activeTask && activeTask.id === task.id"></span>
                            @*{{task.startDateDisplay}} display this in a modal when presssing a button*@
                        </div>

                        @*<table class="timesheet-tasks">
                                <tbody>
                                    <template v-for="(subProject,subProjectIdx) in proj.tasks">
                                        <tr>
                                            <td>
                                                <span class="item-subproject">
                                                    <span class="item-subproject__title">
                                                        <span>
                                                            {{subProject.title}}
                                                        </span>
                                                    </span>
                                                    <span class="item-subproject__buttons" v-show="!readOnly && !activeTimeSheetDateIsLocked">
                                                        <span v-bind:class="{'active': subProject.isActive, 'disabled' :activeActivities && activeActivities.length > 0 }" v-on:click="startActiveActivity(idx,subProjectIdx,subProject)" class="glyphicon glyphicon-play"></span>
                                                        <span v-bind:class="{'disabled':!subProject.isActive}" v-on:click="Z(idx,subProjectIdx,subProject)" class="glyphicon glyphicon-stop"></span>
                                                    </span>
                                                </span>
                                            </td>
                                            <td>
                                                <div class="item-subproject__tags">
                                                    <span class="item-subproject-activity" v-bind:class="{'disabled':!activity.toDate }" v-for="(activity, tagIdx) in subProject.activities" v-on:click="openEditActivityModal(activity, tagIdx,subProjectIdx,idx)">
                                                        {{tagIdx < subProject.activities.length - 1? activity.tagDisplayHours : activity.tagDisplay}}
                                                    </span>
                                                </div>
                                            </td>
                                        </tr>
                                    </template>
                                </tbody>
                            </table>*@


                    </div>
                </div>


            </div>

            <div class="task-activities" v-if="selectedTask">

                <h5 v-if="selectedTask">{{selectedTask.title}} Activities</h5>

                <div class="task-activities-actions">

                    <template v-if="activeDateIndexIsToday && !readOnly">

                        <button v-if="!activeActivity" class="s-btn s-btn-outline " @@click="startActivity()"><i class="fa fa-play"></i> Start</button>
                        <button v-if="activeActivity" class="s-btn s-btn-primary " @@click="openActivityCommitModal()"><i class="fa fa-stop"></i> Stop</button>

                        <div class="mark-as-container">
                            <div class="dropdown">
                                <button class="s-btn s-btn-outline   dropdown-toggle" type="button" data-toggle="dropdown">
                                    <i :class="getMarkAsIcon()"></i>
                                    Mark as <span v-if="selectedTask.statusIsChanging">...</span>
                                    <span class="caret"></span>
                                </button>
                                <ul class="dropdown-menu">

                                    <li v-for="status in markAsStatuses" @@click="markTaskAs(status)">
                                        <a href="#" :class="markAsStatusClass(status,selectedTask.statusCode)">
                                            <i :class="status.icon"></i>
                                            <span>{{status.name}}</span>
                                        </a>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </template>

                    <button v-if="selectedTask" class="s-btn s-btn-outline " @@click="openTaskDetails()"><i class="fa fa-info-circle"></i> Details</button>

                    <template v-if="readOnly && activitiesHasDeletedItems">
                        &nbsp;
                        <label class="">
                            <input type="checkbox" v-model="taskActivities.showDeleted" />
                            Show Deleted
                        </label>
                    </template>



                </div>

                <p v-if="!taskActivities.isLoading && !taskActivities.data.length" class="nothing-here">Nothing Here! <i class="fa fa-cat"></i>  </p>
                <h5 v-if="taskActivities.message">{{taskActivities.message}}</h5>

                <div class="c-box-view">

                    <div v-if="taskActivities.isLoading" class="c-box c-box--loading" v-for="i in [,,,]">
                        <span class="c-box-title"></span>
                    </div>

                    <div class="c-box"
                         v-for="activity in taskActivitiesView"
                         @@click="openActivityCommitModal(activity)"
                         :title="`${activity.id} - ${getActivityTitle(activity)}`"
                         :class="{'active':activity.deletedAt === null && !activity.toDate, 'activity-deleted' :activity.deletedAt !== null  , 'c-box-clickable':(activity.toDate || !readOnly)}">
                        <div class="c-box-title">{{getActivityTitle(activity)}}</div>
                        <small>{{activity.fromDateDisplay}}</small>
                    </div>

                </div>

            </div>

        </div>

    </div>

    <partial name="~/Views/TimeSheets/TaskDetails.cshtml" />

    <div id="ActivityModal" class="modal " role="dialog">

        <div class="modal-dialog  ">

            <div class="modal-content">

                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title">Activity - {{activityModal.title}} {{activityModal.form.id === 0 ? '(New)' : `(A${activityModal.form.id})`}} - {{activeTask ? activeTask.title : ''}}  <i class="main-dark-color"> @@{{activityModal.form.ipAddressDisplay}}</i> </h4>
                </div>

                <div v-if="!(activityModal.isDeleted || activityModal.isSaved)" class="modal-body" v-bind:class="{'disabled-section': activityModal.isLoading || activityModal.isDeleting , 'readonly-section' : readOnly }">

                    <div class="modal-controls">

                        <table class="table table-borderless">

                            <tr v-bind:class="{'readonly-section':activityModal.isLocked}" v-show="activityModal.isUpdate">
                                <td>
                                    <div class="modal-control">
                                        <label>From Date</label>
                                        <date-picker v-model="activityModal.form.fromDate" :config="dateTimeOptionsMaxNow"></date-picker>
                                    </div>
                                </td>
                                <td>
                                    <div class="modal-control">
                                        <label>To Date</label>
                                        <date-picker v-model="activityModal.form.toDate" :config="dateTimeOptionsMaxNow"></date-picker>
                                    </div>
                                </td>
                            </tr>
                            <tr>
                                <td colspan="2">
                                    <div class="modal-control">
                                        <label>{{readOnly ? 'Message':'Enter a message '}}</label>
                                        <textarea class="form-control" rows="2" v-model="activityModal.form.message"></textarea>
                                    </div>
                                    <p class="text-danger " v-if="activityModal.form.deletedAtDisplay !== '-'">Deleted on {{activityModal.form.deletedAtDisplay}}</p>
                                </td>
                            </tr>


                        </table>

                    </div>

                    <h5 v-if="activityModal.message" class="display-message text-center">{{activityModal.message}}</h5>
                </div>


                <div class="activity-action-feedback" v-if="activityModal.isDeleted ||activityModal.isSaved">
                    <i class="far fa-thumbs-up"></i>
                    <h3>{{activityModalFeedbackLabel}}</h3>
                    <button type="button" class="s-btn s-btn-outline" data-dismiss="modal">Close</button>
                </div>

                <div class="modal-footer" v-if="!(activityModal.isDeleted || activityModal.isSaved)">
                    <button v-if="!readOnly"
                            :disabled="activityModal.isLoading"
                            type="button"
                            class="s-btn s-btn-primary"
                            v-on:click="saveActivity()">
                        {{activityModalSaveButtonLabel}}
                    </button>
                    @*<button v-if="!readOnly && activityModal.form.toDate" type="button" class="s-btn s-btn-primary" v-on:click="commitActivity">{{activityModal.isSaving? 'Saving...': 'Save'}}</button>*@
                    <a v-if="activityModal.isUpdate" target="_blank" class="s-btn s-btn-outline" v-bind:href="`/timesheets/TimeSheetActivityLog?activityId=${activityModal.form.id}`">Logs</a>
                    <button v-if="!readOnly" type="button" class="s-btn s-btn-o-danger" v-on:click="deleteActivity">{{activityModalDeleteButtonLabel}}</button>
                    @*<button v-show="!readOnly && activityModal.form.toDate" type="button" class="s-btn s-btn-o-danger" v-on:click="deleteActivity">{{activityModal.isDeleting ? 'Deleting...' : 'Delete'}}</button>*@
                </div>

            </div>

        </div>

    </div>

</div>


@section scripts{

    <script src="~/lib/vue-bootstrap-datetimepicker-5/vue-bootstrap-datetimepicker.js"></script>

    <script src="~/services/TimeSheetsService.js"></script>
    <script src="~/services/TimeSheetActivitiesService.js"></script>
    <script src="~/services/ProjectTasksService.js"></script>

    <script src="~/js/UserTimeSheets.js?v=5"></script>
}

@section styles {

    <link href="~/css/UserTimeSheets.min.css?v=1" rel="stylesheet" />
}