@using ProjectTracking.DataContract
@model ProjectTracking.Models.Profile.ProfileViewModel

@{
    ViewData["Title"] = $"Profile - {Model.User.FullName}";

    ProjectTracking.Models.Teams.SupervisorTeamsViewModel supervisorModel = new ProjectTracking.Models.Teams.SupervisorTeamsViewModel()
    {
        SupervisorId = Model.User.Id,
        SupervisorName = Model.User.FullName
    };
}

<div id="Profile" class="v-container" 
     data-current-user="@Model.CurrentUserId" 
     data-is-supervising-user="@Model.IsSupervisingUser" 
     data-has-timesheets="@Model.HasTimeSheets" 
     data-user="@Model.User.Id" data-team="@Model.User.TeamId">

    @*<h2>@Model.FullName Profile</h2>*@

    <div class="top-intro">
        <div class="top-intro-left">
            <div class="profile-circle">
                @Model.User.ProfileTwoLetters
            </div>
            <div class="profile-title">
                <span>@Model.User.FullName - @Model.User.RoleDisplay</span>
                <span>@Model.User.Title</span>
                <small data-toggle="modal" data-target="#UserMoreDetails">More Details</small>
            </div>
        </div>
    </div>

    <div class="profile-content">

        <ul class="nav nav-tabs">

            <li class="active"><a data-toggle="tab" href="#InsightsTab"><i class="fa fa-chart-line"></i> Insights</a></li>

            @if (Model.ShowSupervisorTab)
            {
                <li><a data-toggle="tab" href="#SupervisorTeamsTab"> <i class="fa fa-users"></i> Teams</a></li>
            }


            @if (Model.ShowScheduleTab)
            {
                <li><a data-toggle="tab" href="#SchedulesTab"> <i class="fa fa-tasks"></i> Schedules</a></li>
            }
        </ul>

        <div class="tab-content">

            <div id="InsightsTab" class="tab-pane fade in active">

                <partial name="~/Views/Profile/Insights.cshtml" model="@Model" />

            </div>

            @if (Model.ShowSupervisorTab)
            {

                <div id="SupervisorTeamsTab" class="tab-pane fade ">
                    <partial name="~/views/teams/shared/SupervisorTeams.cshtml" model="@supervisorModel" />
                </div>
            }

            @if (Model.ShowScheduleTab)
            {
                <div id="SchedulesTab" class="tab-pane fade ">
                    <partial name="~/views/profile/schedules.cshtml" />
                </div>
            }

        </div>

    </div>

    <div id="UserMoreDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title main-color">
                        <i class="far fa-address-card "></i>&nbsp;
                        @Model.User.FullName
                    </h4>
                </div>
                <div class="modal-body">

                    <table class="table">

                        @if (Model.User.Team != null)
                        {
                            <tr>
                                <td>Team</td>
                                <td>@Model.User.TeamDisplay</td>
                            </tr>
                        }

                        <tr>
                            <td>Date of Birth</td>
                            <td>@Model.User.DateOfBirthDisplay</td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td>@Model.User.Email</td>
                        </tr>

                        <tr>
                            <td>Employment Type</td>
                            <td>@Model.User.EmploymentTypeDisplay</td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

@section styles{
    <link href="~/css/profile.min.css" rel="stylesheet" />
}

@section Scripts {

    @* services *@
    <script src="~/services/UsersService.js" type="text/javascript"></script>
    <script src="~/services/ProfileService.js" type="text/javascript"></script>
    <script src="~/services/TimeSheetsService.js" type="text/javascript"></script>
    <script src="~/services/ProjectsService.js" type="text/javascript"></script>
    <script src="~/services/TeamsService.js" type="text/javascript"></script>

    @* visualization *@
    <script src="~/lib/chartjs-2.7.1/Chart.min.js"></script>
    <script src="~/js/statistics/ChartHelper.js"></script>


    @* sctips *@
    <script src="~/js/Profile.js" type="text/javascript"></script>

    <script src="~/js/UserInsights.js"></script>

    @if (Model.ShowSupervisorTab)
    {
        <script src="~/js/SupervisorTeams.js">
        </script>
    }

    @if (Model.ShowScheduleTab)
    {
        <script src="~/js/Schedules.js" type="text/javascript"></script>
    }
}