@using ProjectTracking.DataContract
@model ProjectTracking.DataContract.User

@{
    ViewData["Title"] = $"{Model.FullName} Profile";
}

<div id="Profile" v-cloak class="v-container" data-user="@Model.Id" data-team="@Model.TeamId" >

    @*<h2>@Model.FullName Profile</h2>*@

    <div class="top-intro">
        <div class="top-intro-left">
            <div class="profile-circle">
                @Model.ProfileTwoLetters
            </div>
            <div class="profile-title">
                <span>@Model.FullName</span>
                <span>@Model.Title</span>
                <small data-toggle="modal" data-target="#UserMoreDetails">More Details</small>
            </div>
        </div>
    </div>

    <div class="profile-content">

        <ul class="nav nav-tabs">
            <li class="active"><a data-toggle="tab" href="#ScheduleTab">Schedule</a></li>
            <li><a data-toggle="tab" href="#ProgressTab">Progress</a></li>
        </ul>

        <div class="tab-content">

            <div id="ScheduleTab" class="tab-pane fade in active">
                <partial name="~/views/users/schedule.cshtml" />
            </div>

            <div id="ProgressTab" class="tab-pane fade">
                @*<partial name="~/views/users/schedule.cshtml" />*@
            </div>

        </div>

    </div>

    <div id="UserMoreDetails" class="modal fade" role="dialog">
        <div class="modal-dialog">

            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                    <h4 class="modal-title main-color">
                        <i class="far fa-address-card "></i>&nbsp;
                    @Model.FullName</h4>
                </div>
                <div class="modal-body">

                    <table class="table">

                        @if (Model.Team != null)
                        {
                            <tr>
                                <td>Team</td>
                                <td>@Model.TeamDisplay</td>
                            </tr>
                        }

                        <tr>
                            <td>Date of Birth</td>
                            <td>@Model.DateOfBirthDisplay</td>
                        </tr>

                        <tr>
                            <td>Email</td>
                            <td>@Model.Email</td>
                        </tr>

                        @if (Model.SupervisingCount.HasValue && Model.SupervisingCount.Value > 0)
                        {
                            <tr>
                                <td>Supervising</td>
                                <td>@Model.SupervisingCount.Value Team@(Model.SupervisingCount.Value > 1 ? "s":"")</td>
                            </tr>
                        }

                        <tr>
                            <td>Employment Type</td>
                            <td>@Model.EmploymentTypeDisplay</td>
                        </tr>

                    </table>
                </div>
            </div>

        </div>
    </div>

</div>

@section styles{
    <link href="~/css/profile.min.css" rel="stylesheet" />
}

@section Scripts {

    <script src="~/services/UserProfileService.js" type="text/javascript" ></script>
    <script src="~/services/ProjectsService.js"    type="text/javascript" ></script>


    <script src="~/js/profile.js" type="text/javascript" ></script>
}